@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto&display=swap');

NavBar{
    position: relative;
}

*{
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}